.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* card container */
.card-container {
  border: solid orange;
}

/* picture container */
.picture-container {
  border: solid gray;
}

.picture {
  border: solid blue;
}

/* non picture container */
.non-picture-container {
  border: solid purple;
}

/* text-url-container */
.text-url-container {
  border: solid seagreen;
}

/* Text container */
.text-container {
  border: solid green;
}

.title {
  border: solid yellowgreen;
}

.text {
  border: solid black;
}

/* url container */
.url-container {
  border: solid crimson;
}

.url {
  border: solid pink;
}
/* buttons container */
.buttons-container {
  border: solid salmon;
}

.btn {
  border: solid slateblue;
}